@import "qalendar/dist/style.css";

* {
  text-decoration: none;
  
  box-sizing: border-box;
  /* border: none !important; */
  border: none;
}
body {
  /* background: linear-gradient(to right, #1E90FF, #87CEFA); */
  /* 從道奇藍到淺藍的漸變 */
  color: #333; /* 深灰色文字 */
  margin: 0;
  padding: 0;
}
html{
  background-color: #f5e4d0;
  background-color: #f3d19e;
  background-color: #f9f9f9;
  

}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid firebrick; */
}
a,button{
  cursor: pointer;
}
a{
  color: black;
}

img{
  display: block;
  object-fit: contain;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
